<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.porster.gift">
    <uses-sdk
        tools:overrideLibrary="com.porster.advert"
        />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.porster.gift.GApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme.AppTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/AlphaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainTabAct"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.study.StudyAct"/>
        <activity android:name=".view.fial.FailAct"/>
        <activity android:name=".view.dev.DevToolsAct"/>
        <activity android:name=".view.setting.AboutAppAct"/>
        <activity android:name=".view.setting.ThemeAct"/>
        <activity android:name=".view.setting.HighSetAct"/>
        <activity android:name=".view.gift.GiftAct"/>

    </application>

</manifest>